<div class="home-container">

    <div class="home-left-container">
        <trex-sidebar channel="sidebarChannel"></trex-sidebar>
    </div>

    <div class="home-right-container">
        <div rv-hide="proposalsTabSelected">
            <trex-filter-bar channel="filterbarChannel"></trex-filter-bar>
            <div class="article-preview-container">
                <trex-article-preview rv-each-article="updatedArticles" article="article"></trex-article-preview>
                <trex-not-found rv-if="notFound"></trex-not-found>
            </div>
        </div>

        <div rv-show="proposalsTabSelected">
            Implementation comming soon..
        </div>
    </div>
    
</div>
