@import './components/proposal/proposal.component.scss';

$testColor: #e9cb2a;

.home {
    color: $testColor;
}

.home-container {
    display: flex;
    flex-direction: row;
}

.home-right-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.article-preview-container {
    height: calc(100vh - 150px);
    background-color: #f9f9f9;;
    overflow-y: auto;
}

#home {
    .discover {
        padding: 20px;

        header {
            display: flex;
            justify-content: center;
        }

        .search {
            margin-top: 30px;

            display: flex;
            justify-content: center;

            input {
                width: 60%;
                padding: 10px;
                border: 2px solid #d8d8d8;
                font-weight: 500;
            }

            button {
                background: #ededed;
                color: #999;
                cursor: pointer;
                border: 0;
                outline: none;
                padding: 10px;
                border-radius: 4px;
                font-size: 15px;
                transition: all 0.4s;
                margin: 8px;
            }
        }

        footer {
            margin-top: 10px;

            display: flex;
            justify-content: center;
        }

        .found-resources {
            max-height: 500px;
            overflow-y: scroll;
        }
    }
}