@import './components/proposal/proposal.component.scss';

$testColor: #e9cb2a;

.home {
    color: $testColor;
}

.home-container {
    display: flex;
    flex-direction: row;
}

.home-right-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.article-preview-container {
    height: calc(100vh - 150px);
    background-color: #f9f9f9;;
    overflow-y: auto;
}