* {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

.login-container {
    padding: 50px;

    width: 50%;
    height: 50vh;

    -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.15);
    box-shadow: 0 2px 10px rgba(0,0,0,.15);

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

header {
    text-align: center;
}

header > p {
    font-size: 14px;
}

form {
    width: 40%;
}

.form-part {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 10px 0;
}

.form-part.email {
    padding: 20px;
}

label {
    color: rgba(0,0,0,.54);
    font-size: 14px;
}

input {
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,.15);
    padding: 5px;
    height: 35px;
    font-size: 18px;
    width: 100%;
}

input:focus {
    outline: none;
}

div.continue-container {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

button.continue {
    cursor: pointer;
    border: 0;
    color: white;
    background: rgba(0,0,0,.84);
    outline: none;
    padding: 10px;
    border-radius: 4px;
    font-size: 15px;
    transition: all 0.4s;
}

button.continue:hover {
     background: black;
}
