<header class="empty-header"></header>

<div class="filter-bar">

    <div class="filter-form">
        <div class="filter-part">
            <label for="search" class="mobile-hidden">Search</label>
            <input type="text" id="search" rv-value="inputValue">
            <i class="fa fa-search input-icon" rv-on-click="search"></i>
        </div>

        <div class="filter-part mobile-hidden">
            <label for="order">Order by</label>
            <select rv-on-change="orberByValueSelected">
                <option rv-each-value="orderByValues">{value.name}</option>
            </select>
        </div>

        <div class="filter-part mobile-hidden">
            <label for="filter">Filter by</label>
            <select rv-on-change="filterByValueSelected">
                <option rv-each-value="filterByValues">{value}</option>
            </select>
        </div>
    </div>

    <div class="grid-options mobile-hidden tablet-hidden">
        <i class="fa fa-th-large"></i>
        <i class="fa fa-th-list"></i>
    </div>
</div>