<div class="password-container">

    <form action="../overview/overview.html">
        
        <header>
            <h2>
                Sign in
            </h2>
            <p>
                Welcome to the second part. Here you shall input your password.
            </p>
        </header>

        <div class="form-part">
            <label for="password">Your password</label>
            <input type="password" id="password" autofocus>
        </div>
        
        <div class="go-container">
            <button class="go">Go !</button>
        </div>

    </form>

</div>