trex-login-password {
    padding: 50px;

    width: 50%;
    height: 50vh;

    -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.15);
    box-shadow: 0 2px 10px rgba(0,0,0,.15);

    display: flex;
    justify-content: center;
    align-items: center;

    header {
        text-align: center;
    }
    
    header > p {
        font-size: 14px;
    }
    
    .form-part {
        display: flex;
        flex-direction: column;
        align-items: center;
    
        padding: 10px 0;
    }
    
    .form-part.email {
        padding: 20px;
    }
    
    label {
        color: rgba(0,0,0,.54);
        font-size: 14px;
    }
    
    input {
        border: 0;
        border-bottom: 1px solid rgba(0,0,0,.15);
        padding: 5px;
        height: 35px;
        font-size: 18px;
        width: 100%;
    }
    
    input:focus {
        outline: none;
    }
    
    div.go-container {
        display: flex;
        justify-content: center;
        padding-top: 10px;
    }
    
    button.go {
        cursor: pointer;
        border: 0;
        color: white;
        background: rgba(0,0,0,.84);
        outline: none;
        padding: 10px 30px;
        border-radius: 4px;
        font-size: 15px;
        transition: all 0.4s;
    }
    
    button.go:hover {
         background: black;
    }
    
    
    /* RESPONSIVE  */
    
    /* MOBILE  */
    
    @media only screen and (max-width: 599px) {
        width: 100%;
    }
    
    /* TABLET PORTRAIT  */
    
    @media only screen and (min-width: 600px) and (max-width: 899px){
        width: 70%;
    }
    
    
    /* TABLET LANDSCAPE  */
    
    @media only screen and (min-width: 900px) and (max-width: 1199px) {
        width: 60%;
    }
}