<div class="form">
    <header>
        <h2>
            Sign in
        </h2>
        <p>
            Welcome to the second part. Here you shall input your password.
        </p>
    </header>

    <div class="form-part">
        <label for="password">Your password</label>
        <input 
            type="password" 
            id="password" 
            autofocus
            rv-value="password">
    </div>

    <div class="go-container">
        <button class="go" rv-on-click="submit">Go !</button>
    </div>
</div>