@import '../components/email/login-email.component.scss';
@import '../components/password/login-password.component.scss';

.master-container#login {
    display: flex;
    justify-content: center;
    align-items: center;
}