<div class="sidebar mobile-hidden">
    <header class="logo">
        <h1>TReX</h1>
    </header>

    <div class="sidebar-container">
        <div class="user-info">
            <div class="initials-container">
                <div class="initials">
                    RR
                </div>
            </div>

            <div class="about-user">
                <div class="name">
                    Razvan Radeanu
                </div>
                <div class="occupation">
                    Student
                </div>
            </div>
        </div>

        <div class="menu">
            <ul>
                <li class="active">
                    <a href="#">
                        <i class="fa fa-book-open"></i>
                        History
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-bookmark"></i>
                        Saved
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-question"></i>
                        Proposals
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>