<div class="form">
    <header>
        <h2>
            Sign in
        </h2>
        <p>
            Enter your e-mail address. The continue button will get you to the second part where you shall input your
            password.
        </p>
    </header>

    <div class="form-part email">
        <label for="email">Your email</label>
        <input type="text" id="email" autocomplete="off" autofocus rv-value="email">
    </div>

    <div class="continue-container">
        <button class="continue" rv-on-click="submit">Continue</button>
    </div>
</div>